In [1]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
df = pd.read_csv("Resources/201908-citibike-tripdata.csv/201908-citibike-tripdata.csv")
df.sample(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1502536,641,2019-08-20 17:12:34.7790,2019-08-20 17:23:16.0350,3467.0,W Broadway & Spring Street,40.724947,-74.001659,382.0,University Pl & E 14 St,40.734927,-73.992005,28405,Subscriber,1966,1
1818717,822,2019-08-24 22:35:55.2200,2019-08-24 22:49:37.9760,3170.0,W 84 St & Columbus Ave,40.785000,-73.972834,495.0,W 47 St & 10 Ave,40.762699,-73.993012,39206,Customer,1979,1
26716,630,2019-08-01 11:31:21.9230,2019-08-01 11:41:52.6720,3378.0,E 76 St & Park Ave,40.773763,-73.962221,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,28624,Subscriber,1985,1

In [3]:
# 2. Check the datatypes of your columns. 
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [9]:
# 3. Convert the 'tripduration' column to datetime datatype.
df["tripduration"] = pd.to_datetime(df["tripduration"], unit="s")
df.sample(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
11080,1970-01-01 00:13:06,2019-08-01 08:18:56.5150,2019-08-01 08:32:03.2720,335.0,Washington Pl & Broadway,40.729039,-73.994046,351.0,Front St & Maiden Ln,40.705310,-74.006126,38739,Subscriber,1981,1
1485940,1970-01-01 00:09:06,2019-08-20 13:15:41.7190,2019-08-20 13:24:48.6440,3141.0,1 Ave & E 68 St,40.765005,-73.958185,3362.0,Madison Ave & E 82 St,40.778131,-73.960694,38798,Subscriber,1960,1
358969,1970-01-01 00:26:50,2019-08-05 16:45:22.7360,2019-08-05 17:12:13.6710,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,3143.0,5 Ave & E 78 St,40.776321,-73.964274,15832,Customer,1999,1

In [10]:
# 4. Check the datatypes of your columns. 
df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [14]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv("C:/Users/gilig/Class/Bikesharing/new-201908-citibike-tripdata.csv", index=False)